
body {
    background-color: #DEFCF9;
}
hr {
    background-color: #DEFCF9;
    border: 5px dotted gray;
    border-bottom: none;
    width: 30px;
}
img {
  width: 60%;
  height: 65%;
}

h1{
    color: #2B3467;
}
h2{
    color: #2B3467;
}
h3{
    color: #2B3467;
}